<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Password</title>
</head>
<body>
    <h1>Edit Password</h1>
    <form method="post" action="{{ url_for('edit_password', id=password.id) }}">
        {{ form.hidden_tag() }}
        <label for="account">Account:</label>
        {{ form.account() }}
        <br>
        <label for="password">Password:</label>
        {{ form.password() }}
        <br>
        {{ form.submit() }}
    </form>
</body>
</html>
