{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th> </th> <!-- New column for buttons -->
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <!-- Buy button with input field for number of shares -->
                        <form action="/remove_from_cart" method="post" style="display:inline;">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <button type="submit" class="btn btn-danger btn-sm">Remove from cart</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
