{% extends "layout.html" %}

{% block title %}
    Sell Goods
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div class="form-group mb-3">
            <input class="form-control" id="name" name="name" placeholder="Product Name" type="text" required>
        </div>
        <div class="form-group mb-3">
            <input class="form-control" id="description" name="desscription" placeholder="Description" type="text" required>
        </div>
        <div class="form-group mb-3">
            <input class="form-control" id="price" name="price" placeholder="Price" type="number" step="0.01" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
