/*
*{
	margin: 0;
	padding: 0;
}
*/
body{
	background-color: white; 
	color: red;

	font: serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5em;
}

*{
	text-decoration: none;
	color: black;
}

*:hover{
	color: red;
}

*:active{
	color: green;
}

*:visited{
	color: black;
}
.container{
	width:80%;
	margin: auto;
}
.box-1{
	background-color: purple; 
	color: white;

	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
/*same as above*/
	
	border-width: 3px;
	border-bottom-width: 10px;
	border-top-style: dotted;

	border:5px red solid;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
/*same as above*/
	padding: 20px;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-right:  0px;
	margin-left: 0px;
}

.box-1 h1{
	font-family: cursive;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing:1em;
}

.box-2{
	border: 3px dotted lightgrey;
	padding: 20px;
	margin: 20px 0;
}

.categories{
	border: 1px lightgrey solid;
	padding:10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0;
	list-style: square;
	list-style: none;
}

.categories li{
	padding-bottom: 8px;
	border-bottom: dotted 1px purple;
	list-style-image: url(C:\Users\user\Desktop\css\csscheatsheet\image\ckeck.jpg);
}

