body{
	background-color: ;
	color: ;

	background-image:url();
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

	font-family: ;
	font-size: ;
	font-weight: ;
	line-height: ;
}

.work{
	background-color: ;
	color: ;

	margin: 20px;
}

.container{
	width: 80%;
	margin: auto;

	background-image: url();
	background-color: ; 
}	

.Home{
	background-image: url();
	background-repeat: no-repeat;
	background-size: 1000px;
  width: 900px;
  height: 900px;
  border: ;
  color: ;

	background-color: ; 
	color: black;

	border-right: 5px ;
	border-left: 5px ;
	border-top: 5px ;
	border-bottom: 5px; 

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;

	margin-top: 20px;
	margin-bottom: -335px;
	margin-right:  0px;
	margin-left: 0px;
}

.Home h1{
	background-color: gold;
	font-family: fantasy;
	font-weight: 20px;
	font-style: italic;
	font-size: 80px;
	text-decoration: ;
	text-transform: ;
	letter-spacing: ;
	word-spacing: ;
}

 p{
	font-family: ;
	font-size: 20px;
	font-weight: ;
	line-height: ;
}

.About{
	background-color: ; 
	color: ;

	border-right: 5px ;
	border-left: 5px ;
	border-top: 5px ;
	border-bottom: 5px; 

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-right:  0px;
	margin-left: 0px;
}

.About h1{
	background-color: gold;
	font-family: fantasy;
	font-weight: 15px;
	font-style: italic;
	font-size: 75px;
	text-decoration: ;
	text-transform: ;
	letter-spacing: ;
	word-spacing: ;
}

p{
	font-family: ;
	font-size: 20px;
	font-weight: ;
	line-height: ;
}	

.categories{
	background-color: ; 
	color: ;

	border-right: 5px ;
	border-left: 5px ;
	border-top: 5px ;
	border-bottom: 5px; 

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;

	margin-top: 20px;
	margin-bottom: 20px;
	margin-right:  0px;
	margin-left: 0px;
}

.categories h1{
	background-color: ;
	font-family: ;
	font-weight: 20px;
	font-style: italic;
	font-size: 80px;
	text-decoration: ;
	text-transform: ;
	letter-spacing: ;
	word-spacing: ;
}

.categories p{
	font-family: ;
	font-size: 20px;
	font-weight: ;
	line-height: ;
}

.Marquee{
	background-color: ; 
	color: ;

	border-right: 5px ;
	border-left: 5px ;
	border-top: 5px ;
	border-bottom: 5px; 

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;

	margin-top: 20px;
	margin-bottom: 0px;
	margin-right:  0px;
	margin-left: 0px;
}

a:link{color: blue}
a:hover{color: red}
a:active{color: green}
a:visited{color: purple}